
body {
	padding-top: 150px;
}
/* HEADER & MENU */
header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 100px;
	background: #000000;
}

h1 {
	font-family: "Pirata One", system-ui;
 	font-weight: 400;
  	font-style: normal;
	text-align: left;
	margin: 0;
	padding: 0;
	line-height: 100px;
}
/*
HAMBURGER MENU */

#hamburger {
  width: 40px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50px;
  background: rgb(255, 255, 255);
 opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 18px;
}

#hamburger span:nth-child(4) {
  top: 36px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/*Header & MENU */
header h1 a {
	text-decoration: none;
	color: white;
	font-size: 48px;
}
h3 {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 30PX;
	font-style: normal;
	line-height: 1em;
	margin-bottom: 15px;
}
.dates {
	margin-bottom: 30px;
	text-align: left;
}
h2, div h2 {
	font-family: "Pinyon Script", cursive;
 	font-weight: 600px;
  	font-style: normal;
	font-size: 60px;
	margin-left: 5%;
	text-align: left;
	margin-bottom: 40px;
	padding-top: 10%;
	padding-bottom: 8%;
}
article {
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.5em;
	padding-bottom: 30px;
	justify-content: center;
}

p {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.5em;
}
.internal p {
	font-size: 18px;
}
.internal h3 {
	padding-top: 50px;
	padding-bottom: 25px;
}
.internal a {
	color: #333333;
	padding: 3px;
}
.internal a:hover {
	background-color: black;
	color: white;
}
.internal p video {
	width:300px;
	height:auto;
	display: block;
	margin: auto;
}
footer {
	background: #000000;
	padding: 50px 0;
	text-align: center;
	color:#fff;
	font-family: "Pinyon Script", cursive;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
}

.homepage {
	padding-bottom: 10%;
}
footer h3 {
	font-family: "Pinyon Script", cursive;
	font-size: 30px;
	font-weight: 300;
}
.icons {
	display: flex;
	justify-content: center;
	gap: 1em;
}
footer svg {
	width: auto;
	height: 45px;
}

.about img {
	display: block;
	margin: auto;
}
.aboutme h3 {
	text-align: left;
}
.aboutme h2 {
	text-align: center;
	margin-top: 10%;
}
.info p {
	text-align: left;
	line-height: 1.5em;
}


/* NAVIGATION */
nav{
    position: absolute;
    top: 65px;
	right: -50px;
    width: 175PX;
	align-content: center;
	
}
nav ul li {
	position: relative;
	top: -20px;
	right: 50px;
}

nav ul {
    position:relative;
    list-style-type: none;
	right: 5000PX;
    padding: 5px;
}

nav ul.open {
right: 232px;
top:120px;
height: 400px;
}

#hamburger {
	position: fixed;
    right: 40px;
	top: 60px;
}

nav:hover ul li a:hover {
	text-align: center;	
	font-weight: 600;
}

nav ul li a{
	color: #000000;
	background-color: #000000;
	display: block;
}

nav ul li a {
    text-decoration: none;
    display: block;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 15px;
	width: 150%;
    color: rgb(255, 255, 255);
	text-align: right;
	font-family: "Roboto Mono", monospace;
 	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
	font-size: 16px;
}

/* PHOTOGRAPHY */
.photos img {
	width: 400px;
	height:auto;
	margin: auto;
}
.photos h2 {
	text-align: center;
	font-size: 60PX;
}
.photos img {
	transition: transform 0.1s ease-in-out;
	display: block;
	margin: auto;
}


.internal {
	h3 {
		text-align:;
	}
	justify-content: center;
	align-items: center;
}
.internal li svg{
	display:none;
}
.internal p img {
	display:block;
	width: 300px;
	height: auto;
	margin: auto;
}

.pages svg {
	width: 50px;
	height: auto;
}
.pages svg {
	transition: transform 0.1s ease-in-out;
}
.pages svg:hover {
	transform: scale(1.2);
}
.pages ul li {
	list-style-type: none;
	align-content: center;
}
.pages ul {
	display: flex;
	justify-content: center;
	align-content: center;
	padding:10%;
	gap: 30px;
}

.internal {
	p {
		font-size: 18px;
		font-weight: 400px;
	}
}
.internal p img {
	justify-content: center;
	width: 100%;
	height: auto;
}
.numbertext {
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14pt;
	text-align: right;
	color: #fff;
	padding: 10px;
}
h2 {
	text-align: center;
}
.mySlides img {
	justify-content: center;
}

.slideshow-container {
	background-color: #000000;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	display: block;
}

/* Next & previous buttons */
.prev, .next {
	cursor:pointer;
	color: rgb(0, 0, 0);
	transition: 0.3s ease;
	user-select: none;
	justify-content: center;
  }
  .prev svg, .next svg {
	width: 30px;
	height: auto;
	justify-content: center;
  }
  .prev svg:hover, .next svg:hover {
	transform: none;
	fill: #000000;
	background-color: #ffffff;
	border-radius: 100%;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 2px 2px;
	background-color: #8a8989;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #000000;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: .75s;
  }

#arrow {
	display: none;
}


@keyframes fade {
	from {opacity: .5} 
	to {opacity: 1}
  }  
@media only screen and (min-width: 750px) {
.row img {
	width: 700px;
	height: auto;
	margin: auto;
}
}

@media only screen and (min-width: 570px) {
	.row img {
		width: 700px;
		height: auto;
		margin: auto;
	}
	header h1 a {
		font-size: 60px;
	}
}

/*FULL DESKTOP*/
@media only screen and (min-width: 1200px) {
	h2 {
		font-size: 50px;
		text-align: right;
		margin: 0%;
	}
header h1 a {
	font-size: 60px;
}
.slideshow-container img {
	width: 700px;
	height: auto;
}
article {
	gap: 50px;
	justify-content: center;
	width: 75%;
}
#arrow {
	display: block;
}
.infinity {
	display: block;
}
.infinity p {
	font-size: 18px;
}
h2 {
	padding: 0;
	padding-bottom: 10%;
}
.info h3 {
	text-align: left;
}
.dates {
	text-align: left;
}
#hamburger {
	display: none;
}
nav ul {
    position: static;
	display: flex;
    list-style-type: none;
	justify-content: space-evenly;
	
}
.about {
	margin-left: 15%;
	margin-right: 15%;
}
nav ul li a {
	color: white;
	background-color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: right;
	width: 193px;
	padding:10px;
}

nav {
	position: static;
	width: 600px;
	padding-right: 60px;
	margin-top: 50px;
}
nav:hover ul li a:hover {
	text-align: right;
	font-weight: 600px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer {
	margin: auto;
	justify-content: center;
	display: block;
}
.about h2{
	padding-bottom: 15px;
	display: block;

}
.infinity img {
	width: 800px;
	height: auto;
}
.photos {
	padding-top: 5%;
	padding-bottom: 7%;

	h2 {
		padding-top: 10px;
		padding-bottom: 5%;
	}
}

.index {
	display: flex;
	gap: 20px;
	flex-direction: row;
}
.internal p video {
	display:block;
	width: 700px;
	height: auto;
	margin: auto;
}
.row {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.photos img {
	height: 400px;
	width: auto;
	display: block;
}
.row {
	flex-wrap: wrap;
}
.internal {
	h3 {
		text-align: left;
	}
	justify-content: center;
	align-content: center;
}
}
