
body {
	padding-top: 150px;
}
/* HEADER & MENU */
header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 100px;
	background: #000000;
}
h1 {
	font-family: "Lacquer", system-ui;
 	font-weight: 400;
  	font-style: normal;
	text-align: left;
	margin: 0;
	padding: 0;
	line-height: 100px;
}
header h1 a {
	text-decoration: none;
	color: white;
	font-size: 40px;
}
h3 {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 30PX;
	font-style: normal;
	line-height: 1em;
	margin-bottom: 15px;
}
.dates {
	margin-bottom: 30px;
	text-align: center;
}
h2, div h2 {
	font-family: "Lacquer", system-ui;
 	font-weight: 600px;
  	font-style: normal;
	font-size: 60px;
	margin-left: 5%;
	text-align: left;
	margin-bottom: 40px;
	padding-top: 10%;
	padding-bottom: 8%;
}
article {
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 1.5em;
	padding-bottom: 30px;
	justify-content: center;
}

p {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 1.5em;
}

footer {
	background: #000000;
	padding: 50px 0;
	text-align: center;
	color:#fff;
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
}

.homepage {
	padding-bottom: 10%;
}
footer h3 {
	font-size: 22px;
	font-weight: 300;
}
.icons {
	display: flex;
	justify-content: center;
	gap: 1em;
}
footer svg {
	width: auto;
	height: 45px;
}

.about img {
	display: block;
	margin: auto;
}
.aboutme h3 {
	text-align: left;
}
.aboutme h2 {
	text-align: center;
	margin-top: 10%;
}
.info p {
	text-align: left;
	line-height: 1.5em;
}


/* NAVIGATION */
nav{
    position: absolute;
    top: 65px;
	right: -50px;
    width: 175PX;
	align-content: center;
	
}
nav ul li {
	position: relative;
	top: -20px;
	right: 50px;
}

nav ul {
    position:relative;
    list-style-type: none;
	right: 5000PX;
    padding: 5px;
}

nav:hover ul {
    right: 133px;
	top: 55px;
}

nav:hover ul li a:hover {
	text-align: center;	
	font-weight: 600;
}

nav:hover ul li a {
	background-color: #000000;
}

nav ul li a {
    text-decoration: none;
    display: block;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 15px;
	width: 100%;
    color: rgb(255, 255, 255);
	text-align: right;
	font-family: "Roboto Mono", monospace;
 	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
	font-size: 16px;
}
.photos img {
	width: 400px;
	height:auto;
	margin: auto;
}
/* PHOTOGRAPHY */
.photos h2 {
	text-align: center;
	font-size: 60PX;
}
.photos img {
	transition: transform 0.1s ease-in-out;
	display: block;
	margin: auto;
}
.photos img:hover {
	transform: scale(1.05);
}

.internal {
	h3 {
		text-align: center;
	}
	justify-content: center;
	align-items: center;
}
.internal p img {
	display:block;
	width: 300px;
	height: auto;
	margin: auto;
}

.pages svg {
	width: 50px;
	height: auto;
}
.pages svg {
	transition: transform 0.1s ease-in-out;
}
.pages svg:hover {
	transform: scale(1.2);
}
.pages ul li {
	list-style-type: none;
	align-content: center;
}
.pages ul {
	display: flex;
	justify-content: center;
	align-content: center;
	padding:10%;
	gap: 30px;
}

.internal {
	img {
		height: 400px;
		width: auto;
	}
	p {
		font-size: 14px;
		font-weight: 400px;
	}
}

.numbertext {
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14pt;
	text-align: right;
	color: #fff;
}
h2 {
	text-align: center;
}
.mySlides img {
	justify-content: center;
}

.slideshow-container {
	background-color: #000000;
	padding: 10px 40px 10px 40px;
}

/* Next & previous buttons */
.prev, .next {
	cursor:pointer;
	width: auto;
	color: white;
	font-weight: bolder;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
	align-content: center;
	padding: 5px;
	border-radius: 3px;
  }


  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	color: #000000;
	background-color: #fff;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 2px 2px;
	background-color: #8a8989;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #000000;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: .75s;
  }

@keyframes fade {
	from {opacity: .5} 
	to {opacity: 1}
  }  
@media only screen and (min-width: 750px) {
.row img {
	width: 700px;
	height: auto;
	margin: auto;
}
}
@media only screen and (min-width: 570px) {
	.row img {
		width: 700px;
		height: auto;
		margin: auto;
	}
	header h1 a {
		font-size: 50px;
	}
}
/*FULL DESKTOP*/
@media only screen and (min-width: 1200px) {
	h2 {
		font-size: 50px;
		text-align: right;
		margin: 0%;
	}
header h1 a {
	font-size: 60px;
}
.slideshow-container img {
	width: 700px;
	height: auto;
}
article {
	display: flex;
	gap: 50px;
	justify-content: center;
	width: 75%;
}
.infinity {
	display: block;
}
h2 {
	padding: 0;
	padding-bottom: 10%;
}
.info h3 {
	text-align: left;
}
.dates {
	text-align: left;
}
#hamburger {
	display: none;
}
nav ul {
    position: static;
	display: flex;
    list-style-type: none;
	justify-content: space-evenly;
	
}
.about {
	margin-left: 15%;
	margin-right: 15%;
}
nav ul li a {
	color: white;
	background-color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: right;
	width: 193px;
	padding:10px;
}

nav {
	position: static;
	width: 600px;
	padding-right: 40px;
}
nav:hover ul li a:hover {
	text-align: right;
	font-weight: 600px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer {
	margin: auto;
	justify-content: center;
	display: block;
}
.about h2{
	padding-bottom: 15px;
	display: block;

}
.infinity img {
	width: 800px;
	height: auto;
}
.photos {
	padding-top: 5%;
	padding-bottom: 7%;

	h2 {
		padding-top: 10px;
		padding-bottom: 5%;
	}
}
.index {
	display: flex;
	gap: 20px;
	flex-direction: row;
}

.internal p img {
	display:block;
	width: 700px;
	height: auto;
	margin: auto;
}
.row {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.photos img {
	height: 400px;
	width: auto;
	display: block;
}
.row {
	flex-wrap: wrap;
}
.internal {
	h3 {
		text-align: left;
	}
}
}
